/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
   
    /*-fx-base: grey;*/
   	-fx-base: rgb(37, 116, 169);
    /*-fx-base: 6c7a89ff;*/

    /*-fx-background: blue;*/
    -fx-background: rgb(108, 122, 137);
    /*-fx-background: 4183d7ff;*/
    
}

.login-screen{
	 -fx-background: 4183d7ff;
	 -fx-base: 6c7a89ff;
}