/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
    src: url('Apple_Chancery.ttf');
}
#login-screen{
	 -fx-background-color: #282222;
	 -fx-alignment: center;
}
#login-button{
	-fx-background-color: #282222;
}

#login-label{
	-fx-font-family: 'Apple Chancery';
}
#login-phrase{
	-fx-background-color: #282222;
	-fx-text-color: #9C2B27;
	
}

#login-left{
	-fx-background-color: #282222;
	-fx-alignment:center-left ;
}
#login-right{
	-fx-background-color: #9C2B27;
	-fx-alignment: center-right ; 
}

/*This is the method that will Let the user 
 * know that they need to fill in a field
 */
.text-field:error {
  -fx-border-color: #282222;
  -fx-border-width: 5px;
  
}




